// project has all css code written is sass 
body {
    .container-fluid {
        .col:first-child{
            .introStat {
                text-align: center;
                font-family: 'Charm', cursive;
                color: rgb(238, 45, 45);
                font-weight: 700;
                font-size: 1.5em;
            }
            #movesparagraph {
                text-align: center;
                font-family: 'Charm', cursive;
                color: blue !important;
                font-weight: 700;
                font-size: 1.5em;
                margin-bottom: .5em
            }
        }
        background-image: url(http://static.comicvine.com/uploads/original/14/146951/3879604-6282234369-12556.jpg);
        background-attachment: fixed !important;
        background-origin: border-box;
        background-position: center;
        background-blend-mode: color-burn;
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        .card {
            opacity: 0.9;
        }
        .col{
            p {
                text-align: center;
                font-family:  'Roboto', sans-serif;
                color:black;
                margin-bottom: -.3em;
            }
        }
    }
    h1 {
        text-align: center;
        font-family: 'Charm', cursive;
        padding: .5em;
        color: gold;
        margin-bottom: -.5em;
        font-weight: bolder;
        font-size: 8em;
    }
    h3 {
        text-align: center;
        font-family: 'Charm', cursive;
        margin-top: -.5em;
        color: rgb(82, 82, 30);
        font-weight: bolder;
        font-size: 6em;
        margin-bottom:-.3em;
    }
    
    #productframe {
        width: 100px;
    }
    h4 {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: .5em;
        color:black;
    }
    div {
        img {
            border-radius: 1em;
        }
    }
}